body {
    font-family: "Lato", sans-serif;
    color: #2d3c49;
    font-weight: 300;
}


.text-muted {
    color: #7d97ad;
}


.text-thin {
    font-weight: 100;
}


.text-super {
    font-size: 60px;
}


.title-logo {
    margin-top: 20px
}


.text-link {
    color: #2d3c49;
    font-size: 16px;
    padding: 1em;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
}